body {
	font-family: Source Sans Pro;
	border:	20px solid #bdc3c7;
	width: 700px;
	margin: 20px auto;
}

h4 {
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 20px;
	padding-right: 20px;
	letter-spacing: 2px;
	color: #3498db;
}

h2 {
	text-transform: capitalize;
	padding-left: 20px;
	padding-right: 20px;
	color: #2c3e50;
}

p {
	padding-left: 20px;
	padding-right: 20px;
	text-align: justify;
}

hr {
	margin: 0 20px 0 20px;
}

.special {
	border-left: 5px solid #bdc3c7;
	margin-left: 20px;
	padding-left: 5px;
}